---
import NavBar from "../components/NavBar.astro"
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import Portifolio from "../components/Portifolio.astro"
import Footer from "../components/Footer.astro"
import Awards from "../components/Awards.astro"
import Contact from "../components/Contact.astro"
import Experience from "../components/Experience.astro"
---

<html lang="en">
	<head>
  <!-- FontAwesome CDN for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/profile2.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shikamusenge</title>
	</head>
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/675312662480f5b4f5a8ca45/1iee7vp12';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
	<body>
		<NavBar/>
		<main>
		<Hero/>
		<About />
		<Experience/>
		<Portifolio />
		<Awards/>
		<Contact/>
		</main>
		<Footer/>
	</body>
</html>
<style>
	*{
 padding: 0;
 margin: 0;

	}
body,html{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
 background-color:hsl(0, 0%, 95%);
}
.btn{
    outline:none;
    background-color:black;
    color:hsl(0, 0%, 100%);
    border-radius:0.2rem;
    padding-inline:1rem;
    padding-block:.5rem
    cursor:pointer;
}
main{
	margin-inline:auto;
}
</style>
