<section>
  <h1>About me.</h1>
  <h3>Who am I?</h3>
  <p>
    I am a problem solver, always eager to take on new challenges and create
    innovative web applications. My journey in the world of programming began
    with a deep curiosity and has evolved into a fulfilling career in web
    development. Whether it's crafting sleek and responsive user interfaces or
    architecting robust server-side solutions, I thrive on the thrill of
    building meaningful projects from the ground up
  </p>

  <h3>Skills</h3>
  <div class="skills">
    <ul>
      <h3>Progrmaing Languages</h3>
      <li>Typescript</li>
      <li>java script</li>
      <li>Node js</li>
      <li>Java</li>
      <li>Php</li>
      <li>HTM</li>
      <li>C++</li>
      <li>CSS</li>
      <li>C</li>
      <li>Pytho</li>
    </ul>
    <ul>
      <h3>Progrmaing Languages</h3>
      <li>Typescript</li>
      <li>java script</li>
      <li>Node js</li>
      <li>Java</li>
      <li>Php</li>
      <li>HTM</li>
      <li>C++</li>
      <li>CSS</li>
      <li>C</li>
      <li>Pytho</li>
    </ul>
    <ul>
      <h3>Progrmaing Languages</h3>
      <li>Typescript</li>
      <li>java script</li>
      <li>Node js</li>
      <li>Java</li>
      <li>Php</li>
      <li>HTM</li>
      <li>C++</li>
      <li>CSS</li>
      <li>C</li>
      <li>Pytho</li>
    </ul>
    <ul>
      <h3>Progrmaing Languages</h3>
      <li>Typescript</li>
      <li>java script</li>
      <li>Node js</li>
      <li>Java</li>
      <li>Php</li>
      <li>HTM</li>
      <li>C++</li>
      <li>CSS</li>
      <li>C</li>
      <li>Pytho</li>
    </ul>
  </div>
</section>
<style>
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    flex-grow: 1;
  }
</style>
