---
const { title, linkUrl } = Astro.props;
---

<div class="card-container">
  <h2>{title}</h2>
  <slot />
  <div>
    <a href={linkUrl}>Vist site</a>
  </div>
</div>
<style>
  .card-container {
    max-width: 95vw;
    width: 400px;
    flex-grow: 1;
    background-color: rgb(229, 229, 220);
    margin: 2px;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    height: fit-content;
  }
  h2 {
    padding: 0;
    margin: 0;
  }
  .card-container div {
    position: relative;
  }
  .card-container div a {
    text-decoration: none;
    color: white;
    background: black;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -1.2rem;
    margin-right: 1rem;
    border-radius: 0.15rem;
  }
</style>
