<section>
  <div class="container">
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div style="text-align: center;">
      ALL RIGHT RESERVED TO &copy; SHIKAMUSENGE
    </div>
  </div>
</section>
<style>
  section {
    background-color: black;
    color: white;
  }
</style>
