---
import { Image } from "astro:assets";
import profile2 from "../../public/profile2.png";
---

<section>
  <div class="container">
    <div class="picture">
      <div class="image-container">
         <picture>
        <Image src={profile2} alt="Philemon">
      </picture>
      </div>
     
    </div>
  <div class="text-container">
    <h3>Hello, I'm SHIKAMUSENGE Philemon</h3>
    <h1>Full stack Developer</h1>
    <p>
      I'm a passionate and dedicated full-stack developer with a knack for
      leveraging the latest technologies to bring creative solutions to life
      through the power of coding. With a strong foundation of knowledge and
      skills, I thrive on tackling complex challenges and turning them into
      elegant, efficient solutions. From front-end design to back-end
      development, I'm committed to delivering high-quality results that exceed
      expectations.
    </p>
    <div>
      <a href="#portifolio"><button class="btn"> Browse Project</button></a>
      <button class="btn" style="background-color: rgb(225, 227, 228);"
        ><a
          href="https://drive.google.com/file/d/1LDMlIOsJW2xkQOZEQLVN5DVzeEku89O3/view?usp=drive_link"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; color:black">Douwnload Cv</a
        >
      </button>
    </div></div>
  </div>
<style>
 .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 50%;
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 100%;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 90vh;
      background-image: url("/b.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 2rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }
    .picture{
      display: none;
    }

    .btn {
      background-color: black;
      color: white;
      border-radius: 0.2rem;
      padding-inline: 1.5rem;
      padding-block: 0.6rem;
      cursor: pointer;
      border: none;
      font-size: 1rem;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #333;
    }

    .btn-outline {
      background-color: transparent;
      color: black;
      border: 1px solid black;
    }

    .btn-outline:hover {
      background-color: black;
      color: white;
    }
    .container{
      margin-inline: auto;
      max-width: 1200px;
    }
    .picture{
  border:  solid 5px white; 
  box-shadow: 3px 1px 1px 1px #333;
  background-image: url("https://petapixel.com/assets/uploads/2013/05/AusWqKj.gif");
  border-radius: 50%;
  background-size: cover;  
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.picture img {
max-width: 200px;
max-height: 370px;
margin-top: -3rem;
}
      @media screen and (max-width: 800px) {

           section {
            background-position: center;
            object-fit: scale-down
           }
.text-container{
max-width: 100%;
align-items: right;
margin-inline: auto;
background-color: rgba(255, 255, 255, 0.714);
}
.picture{
  display: flex;
}

  }
</style>
