<nav>
<div id="navBar">
<div id="bland">P. SHIKAMUSENGE.</div>
<div id="links">
<a href="#about">About</a>
<a href="#award">Awards</a>
<a href="#contact">Contuct us</a>
<a href="#portifolio">Portifolio</a>
</div>
<div>
<button>Hire me</button>
</div>
</div>
</nav>
<style>
nav{
    padding-top:2rem;
    font-family: "Inter", sans-serif;
    font-size:12;
    border-bottom: 1px black solid;
    padding-bottom:.3rem;
}
#navBar{
    max-width:1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:auto;
	padding-inline:2rem;
}
#bland{
    font-weight:bold;
}
a{
    color:black;
    text-decoration:none;
}
button{
    padding-block:.3rem ;
    outline:none;
    background-color:black;
    color:white;
    border-radius:0.2rem;
    padding-inline:1rem;
    padding-block:.5rem
    cursor:pointer;
}
#links{
    display:flex;
    gap:.8rem;
    items:center;
}
@media screen and (width<550px) {
    #links{
        display: none;
        flex-direction: column;
        visibility: hidden;
    }

}
</style>