---
import Card1 from "./Card1.astro";
import { Image } from "astro:assets";
import moviesApp from "../../public/movielibraly.png";
import calc from "../../public/projects/calc.png";
import weather from "../../public/projects/weather.png";
import sketch from "../../public/projects/sketch.png";
import smrtv from "../../public/projects/smrtv.png"; 
import ik from "../../public/projects/iki.jpeg"; 

const projects = [
  {
    title: "online smart voting",
    image: smrtv,
    techinologies: [],
    url: "https:/smartvottingonline.000webhostapp.com",
  },
  {
    title: "IKIBINA",
    image: ik,
    techinologies: [],
    url: "https:/moive-lab.vercel.app/",
  },
  {
    title: "Movie Library",
    image: moviesApp,
    techinologies: [],
    url: "https:/moive-lab.vercel.app/",
  },
  {
    title: "Et Sketch",
    image: sketch,
    techinologies: [],
    url: "https:/shikamusenge.github.io/Etch-A-Sketch/",
  },
  {
    title: "Calculator App",
    image: calc,
    techinologies: [],
    url: "https:/shikamusenge.github.io/odin-calculator/",
  },
  {
    title: "Weather App",
    image: weather,
    techinologies: [],
    url: "https:/shikamusenge.github.io/weatherApp/",
  },
];
---

<section id="portfolio">
  <div class="container">
  <h1>Portfolio</h1>
  <p>List of projects worked on</p>

  <div class="portfolio-grid">
    {
      projects.map((item) => (
        <Card1 title={item.title} linkUrl={item.url}>
          <Image
            src={item.image}
            alt={item.title}
            width={300}
            height={200}
            class="image"
          />
        </Card1>
      ))
    }
  </div></div>
</section>

<style>
  section {
    padding: 2rem;
    background-color: #f7f7f7;
    text-align: center;
  }
  .container{
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
              background-color: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 100%;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    align-items: stretch;
    min-width: 100%;
    margin-inline: auto;
    padding-inline: auto;
  }

  .image {
    border-radius: 8px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
</style>
