---
import Card1 from "./Card1.astro";
import { Image } from "astro:assets";
import moviesApp from "../../public/movielibraly.png";
import calc from "../../public/projects/calc.png";
import weather from "../../public/projects/weather.png";
import sketch from "../../public/projects/sketch.png";
const projects = [
  {
    title: " Movie Libiraly",
    image: moviesApp,
    techinologies: [],
    url: "https://moive-lab.vercel.app/",
  },
  {
    title: " Et scetch",
    image: sketch,
    techinologies: [],
    url: "https://shikamusenge.github.io/Etch-A-Sketch/",
  },
  {
    title: "Calculator App",
    image: calc,
    techinologies: [],
    url: "https://shikamusenge.github.io/odin-calculator/",
  },
  {
    title: "Weather App",
    image: weather,
    techinologies: [],
    url: "https://shikamusenge.github.io/weatherApp/",
  },
];
---

<section id="portifolio">
  <h1>Portifolio</h1>
  <p>List of project worked on</p>

  <div style="display: flex; flex-wrap: wrap;">
    {
      projects.map((item) => (
        <Card1 title={item.title} linkUrl={item.url}>
          <Image
            src={item.image}
            alt={item.title}
            width={300}
            height={200}
            class={"Image"}
          />
        </Card1>
      ))
    }
  </div>
</section>
<style>
  .Image {
    border-radius: 5px;
    flex-grow: 1;
    width: 100%;
  }
</style>
