---
import Footer from '../../components/Footer.astro';
import NavBar from '../../components/NavBar.astro';
import './global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Resources</title>
    <link rel="stylesheet" href="./global.css" />
  </head>
  <body>
      <NavBar/>
    <header class="header">
      <h1>📘 Learning Resources</h1>
      <p>Access all learning materials in one place.</p>
      <div class="btn">
    <a href="https://drive.google.com/file/d/1X_cqdy3siUDb_XOopho8WEBnc0O5r6NN/view?usp=drive_link" target="_parent" style="padding: 2;"> Download Marking guide Node </a>
</div>
    </header>
    <main class="content">
      <section class="resources">
        <h2>📂 Shared Google Drive</h2>
        <p>Explore the folder below to access the resources:</p>
     <iframe
  src="https://drive.google.com/embeddedfolderview?id=1Grrk_mzYzVKpBrl5mxJ6Sijwx0m9er7a"
  class="google-drive"
  width="100%"
  height="600"
  frameborder="0"
></iframe>

      </section>
    </main>
    <Footer/>
  </body>
</html>
